{{- $posts := "" -}}
{{- $pageContext := .context -}}
{{- $sitePages := $pageContext.Site.RegularPages -}}
{{- $dateFormat := $pageContext.Site.Params.theme_config.date_format -}}

{{- if .section -}}
    {{- if eq .section "concerts" -}}
        {{/* CONCERTS: Show all (past & future), sorted soonest to furthest */}}
        {{- $posts = (where $sitePages "Section" .section).ByDate -}}
    {{- else -}}
        {{/* POSTS: Show all posts (allowing future ones thanks to your buildFuture=true setting) */}}
        {{- $posts = (where $sitePages "Section" .section).ByDate.Reverse -}}
    {{- end -}}
{{- else -}}
    {{- if (eq $pageContext.Kind "taxonomy") -}}
        {{- $posts = $pageContext.Pages -}}
    {{- else -}}
        {{- if (eq $pageContext.Kind "term") -}}
            {{- $posts = $pageContext.Data.Pages -}}
        {{- else -}}
            {{/* Default fallback */}}
            {{- $posts = $sitePages.ByDate.Reverse -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $limit_exceeded := false -}}
{{- if (and .limit (gt (len $posts) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- end -}}

{{- if (gt (len $posts) 0) }}
    {{- if .limit }}
        {{ $posts = (first .limit $posts ) }}
    {{ end }}
    <ul>
        {{- range $post := $posts -}}
        <li>
            <span>{{- ($post.Date | time.Format $dateFormat) }}</span>
            <a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a>
        </li>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relLangURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}